.customInput {
  border-radius: 25px;
  border-style: solid;
  border-color: #30f100;
  background-color: #535353;
  border-width: 2px;
  font-size: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 10px;
  outline: none;
  caret-color: #30f100;
  color: #30f100;
  transition: 0.2s;
  width: 100%;
}

::placeholder {
  opacity: 1;
  color: #30f100;
}

/* .customInput:focus {
  border-color: rgba(77, 182, 172, 1);
} */
