#sidebar {
  width: 15%;
}

#bodyContent {
  width: 85%;
  background: #000;
  color: #fff;
}

@media only screen and (max-width: 768px) {
  #sidebar {
    width: auto;
    position: absolute;
    left: 0;
    top: 0;
  }
  #bodyContent {
    width: 100%;
  }
}
