.mission {
  padding: 50px 0;
  width: 50%;
  margin: auto;
}
.mission p {
  text-align: justify;
}

/* ourTeam  */
.ourTeam {
  padding: 60px 0;
}
.teamMember {
  display: flex;
  justify-content: space-around;
  gap: 40px;
  margin: 50px 0;
}
.teamMember img {
  width: 100%;
}
.memberDes {
  width: 40%;
}
.memberDes h3 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 20px;
  text-align: center;
}
.memberDes p {
  text-align: justify;
}
