body {
  background: #000 !important;
  color: #fff;
}

.howToBuy {
  font-size: 64px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 60px;
}
.video iframe {
  width: 560px;
  height: 315px;
  margin: auto;
}

.price-btn {
  border: 1px solid #30f100;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 20px;
  font-weight: 700;
  margin-top: 20px;
  padding: 5px 30px;
  border-radius: 50px;
  margin-bottom: 20px;
  transition: 0.4s;
}
.price-btn:hover {
  background: #30f100;
  color: #000;
}

@media only screen and (max-width: 768px) {
  .howToBuy {
    font-size: 36px;
  }
  .video iframe {
    width: 250px;
    height: 200px;
  }
}
