body {
  background: #000 !important;
  color: #fff;
}

.howToBuy {
  font-size: 64px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 60px;
}
.video iframe {
  width: 560px;
  height: 315px;
  margin: auto;
}

.title {
  color: #30f100;
}

.vertical-timeline-element-title {
  font-size: 25px;
  color: #52fd25;
}

.vertical-timeline-element-year {
  font-size: 25px;
  font-weight: bold;
}

.price-btn {
  border: 1px solid #30f100;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 20px;
  font-weight: 700;
  margin-top: 20px;
  padding: 5px 30px;
  border-radius: 50px;
  margin-bottom: 20px;
  transition: 0.4s;
}
.price-btn:hover {
  background: #30f100;
  color: #000;
}

@media only screen and (max-width: 768px) {
  .howToBuy {
    font-size: 36px;
  }
  .video iframe {
    width: 250px;
    height: 200px;
  }
}

.container {
  height: 100vh;
}

.raffle-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  padding: 40px 0px;
  margin-bottom: 40px;
}

.banner-image img {
  width: 100%;
}

.raffle-header__buttons {
  display: flex;
  margin-top: 10px;
  gap: 30px;
}

.raffle-namelist > span {
  color: #ffffff;
  background-color: rgb(110, 48, 255);
  padding: 15px 30px;
  margin: 10px;
  display: flex;
  border-radius: 20px;
}

.raffle-names {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/* app buttons */
.button-primary {
  background-color: #ce00e0;
  font-weight: 600;
  font-size: 20px;
  padding: 15px 30px;
  color: #ffffff;
  border-radius: 72px;
  border: none;
  display: flex;
  align-items: center;
}

.button-primary:hover {
  background-color: #ad00bd;
  cursor: pointer;
}

.button-primary > img {
  margin-right: 10px;
}

.button-outline {
  background-color: transparent;
  font-weight: 600;
  font-size: 20px;
  padding: 15px 30px;
  color: #ad00bd;
  border-radius: 72px;
  border: 2px solid #c700d9;
  display: flex;
  align-items: center;
}

.button-outline:hover {
  background-color: rgba(238, 238, 238, 0.084);
  cursor: pointer;
}

.button-outline > img {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

.alien {
  width: 40%;
}

.raffle-ends {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.raffle-ends h3 {
  color: #ffffff;
  font-size: 30px;
  font-weight: 600;
}

.date-picker {
  background: #000;
}
.date-picker:focus {
  outline: none;
}
