.alien img {
  width: 50%;
  margin: auto;
}
/* project  */
.project {
  padding: 40px 0;
  width: 50%;
  margin: auto;
  text-align: center;
}

.project h3 {
  font-size: 44px;
  font-weight: 500;
  margin-bottom: 20px;
}
.project p {
  text-align: justify;
}

/* royalitiesRaffles */
.royalitiesRaffles {
  padding: 40px;
}

.royalitiesRafflexBox {
  margin: 80px 0;
  display: flex;
  justify-content: space-around;
  gap: 40px;
}
.royalitiesRafflexBox h3 {
  font-size: 44px;
  font-weight: 500;
  margin-bottom: 20px;
  display: block;
}
.royalitiesRafflexBox img {
  width: 70%;
  margin-top: -35px;
}

/* team  */
.teamSection {
  padding: 40px 0;
}
.team {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.teamMember {
  text-align: center;
}
.memberImg {
  border: 1px solid #c4c4c4;
  border-radius: 40px;
  text-align: center;
  margin-bottom: 20px;
}

.teamMember h3,
h4 {
  font-size: 20px;
}
