.allLinks {
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.linkItem {
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 5px 20px;
  padding: 10px;
  cursor: pointer;
  color: #fff;
  transition: 0.4s;
}

.linkItem:hover {
  background: -webkit-linear-gradient(90.27deg, #5F26E0, #CF4DD3);
  -webkit-background-clip: text;
}

.active {
  background: -webkit-linear-gradient(90.27deg, #5F26E0, #CF4DD3);
  -webkit-background-clip: text;
}